*{
  margin:0;
  padding:0;
}
body,html {
  height:100%;
  width:100%;
}

.notepad-dlg{
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
  z-index:10;
}
.notepad-dlg .dialogbox{
  background:#eee;
  margin:80px auto;
  border:1px solid #0f7fd6;
}

.notepad-dlg .dialogbox .titlebar{
  background:#fff;
  height:30px;
  position:relative;
  width:100%;
}

.notepad-dlg .dialogbox .titlebar .title{
  position:absolute;
  left:5px;
  top:2px;
}

.notepad-dlg .dialogbox .titlebar .btn-close{
  cursor:pointer;
  height:30px;
  position:absolute;
  right:0px;
  text-align:center;
  top:0px;
  width:30px;
}

.notepad-dlg .dialogbox .titlebar .btn-close:hover{
  background:red;
  color:#fff;
}

.notepad-dlg .dialogbox .content{
  background:#f1f1f1;
  position:relative;
}




