.notepad-font-dlg .dialogbox{
  height:533px;
  width:442px;
}



.notepad-font-dlg .dialogbox .content{
  width:412px;
  height:473px;
  margin:15px; 
}

.notepad-font-dlg .dialogbox .content .box{
  display:flex;
  justify-content:space-between; 
}

.box div div{
  height:162px;
  width:95%;
  border:1px solid #666;
  overflow-y:scroll;
}
.box input{
  width:95%;
}
.box .box1{
  width:172px;
}

.box .box2{
  width:130px;
}
.box .box3{
  width:64px;
}

.notepad-font-dlg .dialogbox .content fieldset{
  width:212px;
  height:83px;
  margin-top:20px;
  margin-left:195px;
}

.notepad-font-dlg .dialogbox .content .foot{
  width:212px;
  margin-left:195px;
  margin-top:20px;
}
.foot select{
  width:210px;
}
.notepad-font-dlg .dialogbox .content .btn-confirm{
  bottom:16px;
  height:28px;
  width:86px;
  position:absolute;
  right:108px;
}

.notepad-font-dlg .dialogbox .content .btn-cancel{
  bottom:16px;
  height:28px;
  width:86px;
  position:absolute;
  right:14px;
}


