.notepad-search-dlg .dialogbox{
  height:152px;
  width:397px;
}
.notepad-search-dlg .dialogbox .content{
  width:96%;
  margin:2%;
  font-size:15px;
}
.content .checkbox{
  position:absolute;
  left:3px;
  top:60px;
}
.content .txt{
  width:185px;
}
.content span{
  position:absolute;
  left:16px;
  top:60px;
}
fieldset{
  width:145px;
  height:40px;
  display:inline-block;
  position:absolute;
  left:125px;
  top:40px;
}

.notepad-search-dlg .dialogbox .content .btn-next{
  width:90px;
  position:absolute;
  right:8px;
}

.notepad-search-dlg .dialogbox .content .btn-cancel{
  width:90px;
  position:absolute;
  right:8px;
  top:60px;
}
