*{
  margin:0;
  padding:0;
}
body,html {
  height:100%;
  width:100%;
}

.notepad-goto-dlg{
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
  z-index:10;
}

.notepad-goto-dlg .dialogbox{
  background:#eee;
  border:1px solid ;
  height:160px;
  margin:150px auto;
  width:292px;
  border:1px solid #0f7fd6;
}

.notepad-goto-dlg .dialogbox .titlebar{
  background:#fff;
  height:30px;
  position:relative;
  width:100%;
}

.notepad-goto-dlg .dialogbox .titlebar .title{
  position:absolute;
  left:5px;
  top:2px;
}

.notepad-goto-dlg .dialogbox .titlebar .btn-close{
  cursor:pointer;
  height:30px;
  position:absolute;
  right:0px;
  text-align:center;
  top:0px;
  width:30px;
}

.notepad-goto-dlg .dialogbox .titlebar .btn-close:hover{
  background:red;
  color:#fff;
}

.notepad-goto-dlg .dialogbox .content{
  width:100%;
  height:130px;
  background:#f1f1f1;
  position:relative;
}

.notepad-goto-dlg .dialogbox .content label{
  margin:10px;

}

.notepad-goto-dlg .dialogbox .content .line-num{
  display:block;
  height:29px;
  margin-left:12px;
  width:265px;
}

.notepad-goto-dlg .dialogbox .content .btn-goto{
  bottom:16px;
  height:28px;
  width:86px;
  position:absolute;
  right:108px;
}

.notepad-goto-dlg .dialogbox .content .btn-cancel{
  bottom:16px;
  height:28px;
  width:86px;
  position:absolute;
  right:14px;
}
