

.notepad-goto-dlg .dialogbox{

  height:160px;

  width:292px;

}


.notepad-goto-dlg .dialogbox .content{

  height:130px;

}

.notepad-goto-dlg .dialogbox .content label{
  margin:10px;

}

.notepad-goto-dlg .dialogbox .content .line-num{
  display:block;
  height:29px;
  margin-left:12px;
  width:265px;
}

.notepad-goto-dlg .dialogbox .content .btn-goto{
  bottom:16px;
  height:28px;
  width:86px;
  position:absolute;
  right:108px;
}

.notepad-goto-dlg .dialogbox .content .btn-cancel{
  bottom:16px;
  height:28px;
  width:86px;
  position:absolute;
  right:14px;
}
