

.notepad-about-dlg .dialogbox{

  height:389px;

  width:474px;

}


.notepad-about-dlg .dialogbox .content{
  width:444px;
  height:326px;
  margin:15px;
}

.notepad-about-dlg .dialogbox .content h1{
  text-align:center;
  margin:25px;
  font-size:3em;
  color:blue;
}

.notepad-about-dlg .dialogbox img{
  float:left;
  margin:20px 10px;
}

.notepad-about-dlg .dialogbox .content hr{
  margin-bottom:30px;
}
.notepad-about-dlg .dialogbox .content .btn-confirm{
  bottom:16px;
  height:28px;
  width:86px;
  position:absolute;
  right:14px;
}
